[submodule "src/models/nnUNet"]
	path = src/models/nnUNet
	url = https://github.com/MIC-DKFZ/nnUNet.git
[submodule "src/models/medNeXt"]
	path = src/models/medNeXt
	url = https://github.com/MIC-DKFZ/MedNeXt.git

