[submodule "src/models/nn_UNet"]
	path = src/models/nn_UNet
	url = https://github.com/MIC-DKFZ/nnUNet.git


[submodule "src/models/MedNeXt"]
	path = src/models/MedNeXt
	url = https://github.com/MIC-DKFZ/MedNeXt.git
